@charset "utf-8";

*{
	padding:0px;
	margin: 0px;
}

body{
	font-style: Times New Roman;
	font-size: 14px;
	background-color: #f0f0f0;
}

/*Formating*/

a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

input, textarea, select{
	border:1px solid rgba(0,0,0,0.1);
	padding: 8px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

input:hover, textarea:hover, select:hover{
	box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
	text-decoration: none;
}